<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhXJH.web.mapper.BaseDeptAuthorityMapper">
    
    <resultMap type="com.nhXJH.web.domain.BaseDeptAuthority" id="BaseDeptAuthorityResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
        <result property="status"    column="status"    />
        <result property="isDel"    column="is_del"    />
        <result property="createPersonal"    column="create_personal"    />
        <result property="createTime"    column="create_time"    />
        <result property="updatePersonal"    column="update_personal"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaseDeptAuthorityVo">
        select
        id,
        dept_id,
        user_id,
        status,
        is_del,
        create_personal,
        create_time,
        update_personal,
        update_time
        from base_dept_authority
    </sql>
    <select id="getCount" parameterType="com.nhXJH.web.domain.BaseDeptAuthority" resultType="Integer">
        select count(id) from base_dept_authority
        <where>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="status != null "> and `status` = #{status}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            and is_del='0'
        </where>
    </select>
    <select id="selectBaseDeptAuthorityList" parameterType="com.nhXJH.web.domain.BaseDeptAuthority" resultMap="BaseDeptAuthorityResult">
        <include refid="selectBaseDeptAuthorityVo"/>
        <where>  
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="status != null "> and `status` = #{status}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            and is_del='0'
        </where>
    </select>
    <select id="getList" resultMap="BaseDeptAuthorityResult">
        <include refid="selectBaseDeptAuthorityVo"/>
        where is_del='0'
    </select>
    <select id="getDepts" parameterType="Long" resultType="Long">
        select dept_id from base_dept_authority
        where is_del='0' and user_id = #{uid} and status = '1'
    </select>
    
    <select id="selectBaseDeptAuthorityById" parameterType="Long" resultMap="BaseDeptAuthorityResult">
        <include refid="selectBaseDeptAuthorityVo"/>
        where id = #{id} and is_del='0'
    </select>

    <select id="selectBaseDeptAuthorityByIds" parameterType="Long" resultMap="BaseDeptAuthorityResult">
        <include refid="selectBaseDeptAuthorityVo"/>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
     and is_del='0'
    </select>

    <select id="selectBaseDeptAuthorityByUserIds" parameterType="Long" resultMap="BaseDeptAuthorityResult">
        <include refid="selectBaseDeptAuthorityVo"/>
        where user_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        and is_del='0'
    </select>
        
    <insert id="insertBaseDeptAuthority" parameterType="com.nhXJH.web.domain.BaseDeptAuthority" useGeneratedKeys="true" keyProperty="id">
        insert into base_dept_authority
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="status != null">status,</if>
            <if test="isDel != null">is_del,</if>
            <if test="createPersonal != null">create_personal,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updatePersonal != null">update_personal,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="status != null">#{status},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="createPersonal != null">#{createPersonal},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updatePersonal != null">#{updatePersonal},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <insert id="insertList" parameterType="com.nhXJH.web.domain.BaseDeptAuthority" >
        insert into base_dept_authority
        (id,dept_id,user_id,create_personal) values
        <foreach item="baseDeptAuthority" collection="list"  separator="," >
            (#{baseDeptAuthority.id},#{baseDeptAuthority.deptId},#{baseDeptAuthority.userId},#{baseDeptAuthority.createPersonal})
        </foreach>
    </insert>

    <update id="updateBaseDeptAuthority" parameterType="com.nhXJH.web.domain.BaseDeptAuthority">
        update base_dept_authority
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="createPersonal != null">create_personal = #{createPersonal},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updatePersonal != null">update_personal = #{updatePersonal},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteBaseDeptAuthorityById" parameterType="Long">
        update base_dept_authority
            set is_del = '1',update_time = now() ,update_personal=#{operator}
        where user_id = #{id}
    </update>

    <update id="deleteBaseDeptAuthorityByIds" parameterType="Long">
        update base_dept_authority
            set is_del = '1',update_time = now() ,update_personal=#{operator}
        where user_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteBaseDeptAuthorityByUserId">
        update base_dept_authority
            set is_del = '1',update_time = now() ,update_personal = #{operator}
        where user_id = #{userId}
    </update>
</mapper>