<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhXJH.web.mapper.LibraryPressMapper">
    
    <resultMap type="com.nhXJH.web.domain.LibraryPress" id="LibraryPressResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="addr"    column="addr"    />
        <result property="mark"    column="mark"    />
        <result property="email"    column="email"    />
        <result property="phone"    column="phone"    />
        <result property="isDel"    column="is_del"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createPersonal"    column="create_personal"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updatePersonal"    column="update_personal"    />
    </resultMap>

    <sql id="selectLibraryPressVo">
        select id, `name`, addr, mark, email, phone, status, create_time, create_personal, update_time, update_personal,is_del from library_press
    </sql>

    <select id="selectLibraryPressList" parameterType="com.nhXJH.web.domain.LibraryPress" resultMap="LibraryPressResult">
        <include refid="selectLibraryPressVo"/>
        <where>  
            <if test="name != null  and name != ''"> and `name` like concat('%', #{name}, '%')</if>
            <if test="addr != null  and addr != ''"> and addr like concat('%', #{addr}, '%')</if>
            <if test="mark != null  and mark != ''"> and mark like concat('%', #{mark}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createPersonal != null "> and create_personal = #{createPersonal}</if>
            <if test="updatePersonal != null "> and update_personal = #{updatePersonal}</if>
            and is_del = '0'
        </where>
        order by create_time desc
    </select>
    <select id="getCount" parameterType="com.nhXJH.web.domain.LibraryPress" resultType="Integer">
        select count(id) from library_press
        <where>
            <if test="name != null  and name != ''"> and `name` like concat('%', #{name}, '%')</if>
            <if test="addr != null  and addr != ''"> and addr like concat('%', #{addr}, '%')</if>
            <if test="mark != null  and mark != ''"> and mark like concat('%', #{mark}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createPersonal != null "> and create_personal = #{createPersonal}</if>
            <if test="updatePersonal != null "> and update_personal = #{updatePersonal}</if>
            and is_del = '0'
        </where>
    </select>
    <select id="selectLibraryPressById" parameterType="Long" resultMap="LibraryPressResult">
        <include refid="selectLibraryPressVo"/>
        where id = #{id} and is_del = '0'
    </select>
        
    <insert id="insertLibraryPress" parameterType="com.nhXJH.web.domain.LibraryPress" useGeneratedKeys="true" keyProperty="id">
        insert into library_press
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">`name`,</if>
            <if test="addr != null">addr,</if>
            <if test="mark != null">mark,</if>
            <if test="email != null">email,</if>
            <if test="phone != null">phone,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createPersonal != null">create_personal,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updatePersonal != null">update_personal,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="addr != null">#{addr},</if>
            <if test="mark != null">#{mark},</if>
            <if test="email != null">#{email},</if>
            <if test="phone != null">#{phone},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createPersonal != null">#{createPersonal},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updatePersonal != null">#{updatePersonal},</if>
         </trim>
    </insert>

    <update id="updateLibraryPress" parameterType="com.nhXJH.web.domain.LibraryPress">
        update library_press
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">`name` = #{name},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="mark != null">mark = #{mark},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createPersonal != null">create_personal = #{createPersonal},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updatePersonal != null">update_personal = #{updatePersonal},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteLibraryPressById" parameterType="Long">
       update library_press
            set is_del = '1',update_time = now() ,update_personal = #{operator}  where id = #{id}
    </update>

    <update id="deleteLibraryPressByIds" parameterType="Long">
        update library_press
        set is_del = '1',update_time = now() ,update_personal = #{operator}  where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>